body
{
    font-family: "Verdana";
    color: black;
    text-align: center;
    margin: 0;
}

h1{
    background: red;
    text-align: center;
    color: #fff;
    
}

.main{
    width: 80%;
    padding: 20px;
    text-align: left;
    margin: 0px;

}